<h1 style="color:blue; text-align:center;""> Lecture 31 </h1>
<hr style="height:5px;border-width:0;color:blue;background-color:blue">

# Naive Bayes

In [4]:
%%html
<center><iframe width="800" height="500" src="https://www.youtube.com/embed/HZGCoVF3YvM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>

### Imports

In [24]:
import pandas as pd
import numpy as np
import seaborn as sns

from sklearn.naive_bayes import MultinomialNB

from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

### Dataset

In [25]:
data = pd.read_csv("pima-indians-diabetes.csv", header=None, 
                   names=["Pregnancies", "Glucose", "BP", 
                          "SkinThickness", "Insulin", "BMI", 
                          "DiabPediFunc", "Age", "Outcome"])

In [26]:
data.head()

,Pregnancies,Glucose,BP,SkinThickness,Insulin,BMI,DiabPediFunc,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Pregnancies    768 non-null    int64
 1   Glucose        768 non-null    int64
 2   BP             768 non-null    int64
 3   SkinThickness  768 non-null    int64
 4   Insulin        768 non-null    int64
 5   BMI            768 non-null    float64
 6   DiabPediFunc   768 non-null    float64
 7   Age            768 non-null    int64
 8   Outcome        768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

### Naive Bayes with 10 Fold Cross Validation

In [31]:
X = data.iloc[:,:-1].values
Y = data.iloc[:,-1].values

In [32]:
folds = KFold(n_splits=10)
clf_nb = MultinomialNB()

In [33]:
scores = cross_val_score(clf_nb, X, Y, cv=folds)

In [34]:
scores

array([0.58441558, 0.62337662, 0.64935065, 0.57142857, 0.58441558,
       0.54545455, 0.67532468, 0.63636364, 0.51315789, 0.52631579])

In [35]:
scores.mean()

0.5909603554340397