<h1 style="color:blue; text-align:center;""> Lecture 26 </h1>
<hr style="height:5px;border-width:0;color:blue;background-color:blue">

## Logistic Regression

### Imports

In [2]:
import pandas as pd
from sklearn.linear_model  import LogisticRegression
from sklearn.model_selection import train_test_split
import seaborn as sns
from time import time

### Data
The data can be downloaded from here:
[Link](https://www.kaggle.com/ronitf/heart-disease-uci)

In [4]:
data = pd.read_csv("heart.csv")

In [5]:
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

### Data Preprocessing

In [6]:
# Checking Null values
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [8]:
# Is the data balanced ?
target_count = data['target'].value_counts()
target_count

1    165
0    138
Name: target, dtype: int64

In [ ]:
sns.countplot(x='target', data=data)

In [ ]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]
print(X.shape)
print(y.shape)

### Model Evaluation Schemes
- Train Test Sets
- K-Fold Cross Validation
- Leave-one-out / Jackknife Cross Validation
- Repeated Random Test-Train Splits

In [ ]:
seed = 7

In [ ]:
# Classifier
logistic_classifier = LogisticRegression(solver='liblinear')

#### Train Test Sets

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.33, random_state=seed, stratify=y)

In [ ]:
logistic_classifier.fit(X_train, Y_train)

In [ ]:
result = logistic_classifier.score(X_test, Y_test)

In [ ]:
print("Accuracy: {:.4f}".format(result*100.00))

#### k-folds Cross Validation

In [ ]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [ ]:
kfold = KFold(n_splits=10)

In [ ]:
t0 = time()
result = cross_val_score(logistic_classifier, X, y, cv=kfold)
t1 = time()

In [ ]:
result

In [ ]:
print("Accuracy: {:.4f} Standard Deviation: {:.2f}".format(result.mean()*100.00, result.std()*100.00))

In [ ]:
t1-t0

#### Leave-One-Out Cross Validation

In [ ]:
from sklearn.model_selection import LeaveOneOut

In [ ]:
loocv = LeaveOneOut()

In [ ]:
t2 = time()
results = cross_val_score(logistic_classifier, X, y, cv=loocv)
t3 = time()

In [ ]:
print("Accuracy: {:.4f} Standard Deviation: {:.2f}".format(result.mean()*100.00, result.std()*100.00))

In [ ]:
t3-t2

#### Repeated Random Test-Train Splits

In [ ]:
from sklearn.model_selection import ShuffleSplit

In [ ]:
repeated_splits = ShuffleSplit(n_splits=10, test_size=0.33, random_state=seed)

In [ ]:
results = cross_val_score(logistic_classifier, X, y, cv=repeated_splits)

In [ ]:
print("Accuracy: {:.4f} Standard Deviation: {:.2f}".format(result.mean()*100.00, result.std()*100.00))

### Confusion Matrix

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.33, random_state=seed)

In [ ]:
logistic_classifier.fit(X_train, Y_train)

In [ ]:
predicted = logistic_classifier.predict(X_test)

In [ ]:
matrix = confusion_matrix(Y_test, predicted)

In [ ]:
print(matrix)

### Classificaiton Report

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
report = classification_report(Y_test, predicted)

In [ ]:
print(report)

### ROC-AUC

In [ ]:
from sklearn.metrics import roc_auc_score

In [ ]:
roc_auc_score(Y_test, predicted)